.editgist {
    width: 250px;
    border: 5px solid var(--border-color);
    border-radius: 0.6cm;
    padding: 0.6cm;
    background: var(--main-color);
    margin-left: 34cm;
    margin-top: -3cm;
    margin-bottom: 1cm;
}
