.editgist {
    width: 550px;
    /* height: 520px; */
    border: 5px solid var(--border-color);
    /* border-color: ; */
    border-radius: 0.6cm;
    /* position: fixed; */
    padding: 0.6cm;
    background: var(--main-color);
    margin-left: 36cm;
    /* margin-bottom: 10cm; */
    /* float: left; */
}