html {
  --theme-color: #303031;
  --font-color: #2bff00;
  --border-color: #113175;
  --main-color: #4d4949;
  --theme-color2: #0b0e13;
  --theme-color3: #8b8b8b;
  --input-background: #5e3f3f;
}


body {
    background-color: var(--theme-color);
    color: var(--font-color);
  }

.container {
  margin-left: 35px;
  margin-top: 35px;
}
