.profile {
    width: 250px;
    height: 250px;
    border: 5px solid var(--border-color);
    border-radius: 0.6cm;
    padding: 0.6cm;
    background: var(--main-color);
    margin-top: 1cm;
    float: left;
}


.content {
    /* margin-left: 450px; */
    font-size: 70px;
    position: fixed;
    bottom: -20px;
    right: 0px;
}

.text {
    margin-left: 50px;
    color: rgb(204, 183, 186);
}

.image {
    padding: 1px;
    display: block;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}