.profile {
    width: 250px;
    height: 220px;
    border: 5px solid var(--border-color);
    /* border-color: ; */
    border-radius: 0.6cm;
    position: fixed;
    padding: 0.6cm;
    background: var(--main-color);
    margin-top: 4cm;
    /* float: left; */
}


.content {
    /* margin-left: 450px; */
    font-size: 70px;
    position: fixed;
    bottom: -20px;
    right: 0px;
}

.text {
    margin-left: 50px;
    /* text-align: center; */
    color: rgb(204, 183, 186);
}

.image {
    display: block;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}